{% extends 'base.html' %}

{% block title %}Find-a-Recipe{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="custom-container p-4 shadow-lg rounded">
        <h1 class='text-center'> Sign Up </h1>
        <p class="lead">Register below to join! </p>

        <form method='POST'>
            {{form.hidden_tag()}}

            {% for field in form
                if field.widget.input_type != 'hidden'%}

                <div class='form-floating mb-3'>
                    {{ field(class_="form-control", id=field.id, placeholder=field.label.text) }}

                    {% for error in field.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
            
            <div class="d-flex justify-content-center">
            <button type = 'submit' class="btn btn-secondary">Sign Up</button>
            </div>

        </form>
    </div>
</div>
{% endblock %}